@tailwind base;
@tailwind components;
@tailwind utilities;


/* Neumorphism effect */
@layer utilities {
  .neumorphism-container {
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.75);
    background-color: #ebeef1;
    border-radius: 12px;
  }

    .neumorphism-containe {
      box-shadow: 6px 6px 6px -1px rgba(10, 99, 169, 0.16),
        -6px -6px 6px -1px rgba(255, 255, 255, 0.75);
      
    }


  .shadow-neumorphism {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.15), -6px -6px 12px rgba(255, 255, 255, 0.8);
  }
}
